<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6">
    <strong>Worked time: {{ fullHr }}:{{ fullMin }}:{{ fullSec }}</strong>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6" style="text-align: end">
    <a
      id="activityButton"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
      style="text-decoration: none; color: rgb(216, 215, 215)"
    >
      Activity Menu
    </a>
  </div>
</div>

<div>
<div class="message" *ngIf="running == true">
    <p>Please press</p>
    <strong>STOP BUTTON</strong>
    <p>when you want to take a break.</p>
    </div>
  <div class="message" *ngIf="running == false">
    <p>Please press</p>
    <strong>START BUTTON</strong>
    <p>when you want to begin.</p>
  </div>

  <div class="sw-container">
    <div class="stopwatch">
      <span>{{ hr }}:</span>
      <span>{{ min }}:</span>
      <span>{{ sec }}:</span>
      <span>{{ ms }}</span>
    </div>
  </div>

  <br />
  <form class="buttons">
    <button
      type="submit"
      class="btn btn-primary timer_button"
      (click)="start()"
    >
      START
    </button>
    <br />
    <button
      id="activityButton"
      type="submit"
      class="btn btn-primary timer_button"
      (click)="stop()"
    >
      STOP
    </button>
  </form>
  <br />

  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Hello!</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div>
        I see you are a pasionate worker, but so much work will not be
        beneficial for you. How about you try do somthing fun? Press the button
        bellow and do a random activity.
      </div>
        <button class="btn btn-secondary" type="button">
            Generate random activity
          </button>
        <div class="form-check shadow-sm p-3 mb-5 bg-white rounded">
            <p>Category:</p>
            <div *ngFor="let item of items">
            <input
              class="form-check-input checkbox_box"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{item}}
            </label>
          </div>
        </div>
    </div>
  </div>
</div>
