<br>
<h2>Watch your progress:</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Activity</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11.20.2022</td>
        <td>Running</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>04.20.2022</td>
        <td>Reading</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>