<div class="container">
<p>Points: 100</p>
  <div class="container-fluid">
    <table>
      <tr>
        <button class="btn">
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
        <button class="btn" disabled>
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
        <button class="btn">
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
      </tr>
      <tr>
        <button class="btn">
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
        <button class="btn">
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
        <button class="btn">
          <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
            <div class="row">
              <img src="../../assets/gta5.png" />
            </div>
            <div class="row">
              <p>100 Points</p>
            </div>
          </div>
        </button>
      </tr>
    </table>
  </div>
</div>
