<div class="container">
<p>Points: 100</p>
  <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 panel-pad-10">
                <div class="panel panel-default">
                  <div class="panel-body"><button class="btn">
                    <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                      <div class="row">
                        <img src="../../assets/gta5.png" />
                      </div>
                      <div class="row">
                        <p>100 Points</p>
                      </div>
                    </div>
                  </button></div>
                </div>
            </div>
            <div class="col-sm-4 panel-pad-10"> 
                <div class="panel panel-default">
                  <div class="panel-body"><button class="btn">
                    <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                      <div class="row">
                        <img src="../../assets/gta5.png" />
                      </div>
                      <div class="row">
                        <p>100 Points</p>
                      </div>
                    </div>
                  </button></div>
                </div>
            </div>
            <div class="col-sm-4 panel-pad-10">
                <div class="panel panel-default">
                  <div class="panel-body"><button class="btn" disabled>
                    <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                      <div class="row">
                        <img src="../../assets/gta5.png" />
                      </div>
                      <div class="row">
                        <p>100 Points</p>
                      </div>
                    </div>
                  </button></div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4 panel-pad-10">
              <div class="panel panel-default">
                <div class="panel-body"><button class="btn">
                  <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                    <div class="row">
                      <img src="../../assets/gta5.png" />
                    </div>
                    <div class="row">
                      <p>100 Points</p>
                    </div>
                  </div>
                </button></div>
              </div>
          </div>
          <div class="col-sm-4 panel-pad-10"> 
              <div class="panel panel-default">
                <div class="panel-body"><button class="btn">
                  <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                    <div class="row">
                      <img src="../../assets/gta5.png" />
                    </div>
                    <div class="row">
                      <p>100 Points</p>
                    </div>
                  </div>
                </button></div>
              </div>
          </div>
          <div class="col-sm-4 panel-pad-10">
              <div class="panel panel-default">
                <div class="panel-body"><button class="btn">
                  <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
                    <div class="row">
                      <img src="../../assets/gta5.png" />
                    </div>
                    <div class="row">
                      <p>100 Points</p>
                    </div>
                  </div>
                </button></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
