<div class="container">
  <p>Points: 100</p>
  <div class="container-fluid">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <button class="btn">
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/cafe.png" />
              </div>
              <div class="row">
                <p>100 Points</p>
              </div>
            </div>
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn" disabled>
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/Leonardo.png" />
              </div>
              <div class="row">
                <p>300 Points</p>
              </div>
            </div>
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn">
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/gta5.png" />
              </div>
              <div class="row">
                <p>100 Points</p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button class="btn">
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/cola.jpg" />
              </div>
              <div class="row">
                <p>10 Points</p>
              </div>
            </div>
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn">
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/Covid.png" />
              </div>
              <div class="row">
                <p>100 Points</p>
              </div>
            </div>
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn" disabled>
            <div class="form-check shadow-sm p-2 mb-2 bg-white rounded">
              <div class="row">
                <img src="../../assets/crypto.png" />
              </div>
              <div class="row">
                <p>500 Points</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
