<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <img
          src="../../assets/guy_on_laptop.jpg"
          alt="responsive webite"
          class="img-fluid rounded"
          style="height: 100%; width: 100%"
        />
      </div>
      <div
        class="col-xl-6 col-lg-6 col-md-6 rounded"
        style="background-color: #ddd"
      >
        <h1 style="text-align: center;">BURNOUT</h1>
        <p>
          It is time to say stop to long and destructive work hours. 
          It is time to take a good break.
        </p>
        <p>
          Stop being your own enemy on your path to succes!
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <div class="row">
      <p class="text" >A healthy mind can</p>
      <p class="text" style="margin-left: 30px;"><strong style="color: red;">help you</strong> maintain a healthy body</p> 
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-6 col-lg-8 col-md-8 rounded"
        style="background-color: rgb(247, 236, 236)"
      >
        <p>
           Track your working time using owr app and begin to use your powers at maximum.
           This is the end of endless working session that never bring you succes!
        </p>
        <p style="font-style:italic;">
          “An organization’s ability to learn, and translate that learning into action rapidly, is the ultimate competitive advantage.”
        </p>
      </div>
      <div class="col-xl-6 col-lg-4 col-md-4">
        <img
          src="../../assets/clock.jpg"
          alt="responsive webite"
          class="img-fluid rounded"
          style="height: 100%; width: 100%"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="rounded" style="background-color: rgb(248, 248, 248)">
        <h1 style="text-align: center; text-decoration:underline; color:rgb(117, 114, 114)">Be the change</h1>
        <p>
          In the context of work, an understanding of motivation can be applied 
          to improve employee productivity and satisfaction; help set individual 
          and organizational goals; put stress in perspective; and structure jobs 
          so that they offer optimal levels of challenge, control, variety, and collaboration.
        </p>
      </div>
    </div>
    <br />
  </div>
</div>
