<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <img
          src="../../assets/guy_on_laptop.jpg"
          alt="responsive webite"
          class="img-fluid"
          style="height: 100%; width:100%"
        />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6" style="background-color: #ddd">
        <h2>Bootstrap Responsive Website</h2>
        <p>
          Bootstrap is a famous front-end framework used to create mobile-first
          responsive websites. The latest release version of bootstrap has
          removed JQuery dependency not fully work on vanilla javascript.
        </p>
        <p>
          Using bootstrap it becomes very easy to build a responsive website.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
        <p>
            Bootstrap is a famous front-end framework used to create mobile-first
            responsive websites. The latest release version of bootstrap has
            removed JQuery dependency not fully work on vanilla javascript.
          </p>
          <p>
            Using bootstrap it becomes very easy to build a responsive website.
          </p>
    </div>
  </div>
  <br>
</div>
